.vbox-menu {
	-fx-background-color: rgb(210, 112, 37);
}

.title-text-left {
	-fx-fill: "#79E0EE";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.title-text-right {
	-fx-fill: "#FFFFFF";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.label-menu {
	-fx-text-fill: "#FFFFFF";
	-fx-font-size: 15px;

}

.menu-active {
	-fx-background-color: rgb(199, 29, 29);
}

.rootNode {
    -fx-padding: 50px;
    -fx-background-color: #270d0d
}

.stack-pane {
    -fx-background-color: #c7c7c7;
}

.custom-button {
	-fx-background-color: "#79E0EE";
  -fx-text-fill: "#323232";
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-min-width: 100px;
  -fx-min-height: 35px;
  -fx-cursor: hand;
  -fx-background-radius: 42px;
}

.custom-button:hover {
    -fx-background-color: #c20720; /* Warna latar belakang button saat dihover */
}

.tombol1{
    -fx-cursor: hand;
}

.tombol2{
    -fx-cursor: hand;
}

.tombol3{
    -fx-cursor: hand;
}

.tombol4{
    -fx-cursor: hand;
}